* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.weather,
.main-card {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.weather {
  height: 690px;
  width: 400px;
  margin-top: 20px;
  border: 1px solid #dadde1;
}

.btn-outline-dark {
  padding: 3px 12px;
}

h2,
h6,
.main-card,
#celsius,
#fahrenheit,
.sunrise,
.sunset {
  color: #fff;
  font-weight: bolder;
}

.card-body,
.forecast-icon,
.maxmin {
  text-align: center;
}

.main-card {
  height: 380px;
  width: 330px;
  margin-top: 22px;
  margin-bottom: 25px;
}

#main-card-icon {
  font-size: 110px;
  margin-top: 30px;
}

.temperature {
  font-size: 30px;
}

.units {
  position: relative;
  top: -14px;
  text-decoration: none;
}

.card-subtitle,
.units,
.main-card-text {
  font-size: 14px;
}

.main-card-text {
  margin-left: 30px;
}

.active {
  cursor: default;
}

.active:hover,
#celsius,
#fahrenheit {
  text-decoration: none;
}

.weather-description {
  text-transform: capitalize;
}

.day {
  margin-left: 17px;
  font-weight: bolder;
}

.forecast-icon {
  margin-left: 20px;
  font-size: large;
}

.maxmin {
  margin-left: 15px;
  font-weight: bolder;
}
